body {
  text-align: center;
  color: #000000;
  align: center;
  background-image: url('background1.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "나눔스퀘어라운드", serif;
}
div#wrapper{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
header{
  text-align: left;
  margin-left: 100px;
  font-size:20px;
}
table{
  text-align: left;
  margin-left: 100px;
  font-size: 24px;
}
.tr1 input[type="text"]{
  width: 1152px;
  height: 25px;
  font-size: 25px;
  border: none;
  font-family: "나눔스퀘어라운드", serif;
  outline: none;
  margin-bottom: 10px;
}
.tr2 input[type="text"]{
  width: 1152px;
  height: 25px;
  font-size: 25px;
  border: none;
  font-family: "나눔스퀘어라운드", serif;
  outline: none;
  margin-bottom: 10px;
}
.tr3 input[type="text"]{
  width: 1152px;
  height: 25px;
  font-size: 25px;
  border: none;
  font-family: "나눔스퀘어라운드", serif;
  outline: none;
  margin-bottom: 10px;
}
.tr4 input[type="text"]{
  width: 1152px;
  height: 25px;
  font-size: 25px;
  border: none;
  font-family: "나눔스퀘어라운드", serif;
  outline: none;
}
.tr5 textarea{
  margin-top: 10px;
  font-size: 25px;
  border: none;
  resize: none;
  font-family: "나눔스퀘어라운드", serif;
  outline: none;
}
.button{
  width: 100px;
  background-color: #f8585b;
  border: none;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}
